/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body{
    background-color: #EDF2F9 !important;
    color: #fff;
    height: 100%;
    font-family: 'Arial', sans-serif;
}